@model List<Dummymvc3.Models.Emp>

@{
    ViewData["Title"] = "ViewData";
}

<h1>ViewData</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Search Form -->
<form method="post" asp-action="Search" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="name" class="form-control" placeholder="Search by Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<form method="post" asp-action="DeleteSelected">
    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Email</th>
                <th>Salary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="Empbyid" value="@item.Id" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Salary
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Delete Selected</button>


    <a asp-controller="Email"asp-action="SendEmail">Email</a>

</form>
